{% extends 'account2_base.html' %}

{% block title %}Login (Account2){% endblock title %}

{% block content %}
<h1>Login</h1>
<p>請依表格的的欄位提示登入(Account2)</p>
<p>或是註冊一個帳號  <a href="{% url "account2:register" %}">點我註冊</a> </p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="登入"></p>
</form>
<li class="google"><a href="{% url "social:begin" "google-oauth2" %}">使用GOOGLE帳號登入</a></li>
<li class="github"><a href="{% url "social:begin" "github" %}">使用GITHUB帳號登入</a></li>
<li class="facebook"><a href="{% url "social:begin" "facebook" %}">使用FACEBOOK帳號登入</a></li>

{% endblock content %}

<li>增加這功能的流程</li>
<li>架構→MTV</li>
<li>models.py 增加使用者表單</li>
<li>views.py 製作輸入輸出的功能</li>
<li>urls.py 設定好轉址</li>
<li>把template html端寫好</li>