{% extends 'blog\base.html' %}
{% block content %}
<hr>
<div class="div_page_button">
    <!-- 上一頁 -->
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}"><input type="button" value="上一頁"></a>
    {% else %}
    <input type="button" value="無上頁" aria-hidden="true">
    {% endif %}
    <!-- 全部頁碼 -->
    {% for page_num in posts.paginator.page_range %}
    {% if posts.number == page_num %}
    <input type="button" value="{{ page_num }}" style="background-color:powderblue;">
    {% else %}
    <a href="?page={{page_num }}"><input type="button" value="{{ page_num }}"></a>
    {% endif %}
    {% endfor %}
    <!-- 下一頁 -->
    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}"><input type="button" value="下一頁"></a>
    </a>
    {% else %}
    <input type="button" value="無下頁" aria-hidden="true">
    {% endif %}

</div>
{% for post in posts %}
<h2>
    <a href="{{ post.get_url }}">{{ post.title }}</a>

</h2>
<p>
    published {{ post.publish }} by {{ post.author }}
</p>

{% if post.tags.count %}
<p>
    Tags:
    {% for tag in post.tags.all %}
    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
        {{ tag.name }}
    </a>

    {% if not forloop.last %}, {% endif %}

    {% endfor %}
</p>
{% endif %}
{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}

<div class=" div_page">
    <span>
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">前一頁</a>
        {% endif %}
    </span>
    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    <span>
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number}}">下一頁</a>
        {% endif %}
    </span>
</div>
<hr>
<ul>
    {% for tag in tag_list %}
    <li>
        <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
        ({{ tag.taggit_taggeditem_items.count }})
    </li>

    {% endfor %}
</ul>
{% endblock content %}